# Heroes Of Pymoli Data Analysis
* Will put analysis summary here later

*  
-----

In [1]:
# load library
import pandas as pd

In [2]:
# Pull in the file and add it to a dataframe
file = "Resources/purchase_data.csv"
hopdf = pd.read_csv(file)

## Player Count

In [27]:
totp = hopdf["SN"].nunique()
print(f'Total Players: {totp}')

Total Players: 576

## Purchasing Analysis (Total)

In [41]:
# Sets up the purchasing analysis total table
pat = pd.DataFrame({'Number of Unique Items': [hopdf["Item Name"].nunique()], 
                              'Average Purchase Price': [hopdf["Price"].mean()],
                             'Total Number of Purchases': [hopdf["Purchase ID"].count()],
                              'Total Revenue': [hopdf["Price"].sum()]})
# reformats the currency values
pat['Average Purchase Price'] = pat['Average Purchase Price'].map("${:.2f}".format)
pat['Total Revenue'] = pat['Total Revenue'].map("${:,.2f}".format)
pat

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

## Gender Demographics

In [54]:
# groups the recorded genders
gdgrp = hopdf.groupby(['Gender'])

# sets unique counts of Total Players in this grouping
guni = gdgrp["SN"].nunique()

# sets up the gender analysis table
gat = pd.DataFrame({'Total Count':guni,'Percentage of Players': guni/totp})

# reformats percentage
gat['Percentage of Players'] = gat['Percentage of Players'].map("{:.2%}".format)
gat = gat.sort_values(by=['Percentage of Players'],ascending=False)
gat

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender)

In [107]:
# calculate Purchase Count
pc =  gdgrp['Purchase ID'].count()

# calculate Average Purchase Price
app = gdgrp['Price'].mean()

# calculate Total Purchase Value
tpv = gdgrp['Price'].sum()

# calculate Avg Total Purchase Per Person
atpp = tpv / guni

# wrap it all up
pag = pd.DataFrame({'Purchase Count':pc, 'Average Purchase Price':app,'Total Purchase Value':tpv,
                     'Avg Total Purchase per Person':atpp})

# make it look nice
pag['Average Purchase Price'] = pag['Average Purchase Price'].map("${:.2f}".format)
pag['Total Purchase Value'] = pag['Total Purchase Value'].map("${:,.2f}".format)
pag['Avg Total Purchase per Person'] = pag['Avg Total Purchase per Person'].map("${:.2f}".format)
pag

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [22]:
hopdf.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44